

caption { 
  caption-side: top;
  text-align: center;
  font-weight: bold;
  color: black;
}

h1 {
  text-align: center;
  font-family:TeX Gyre Schola;
  color: black;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-family:TeX Gyre Schola;
  color: black;
  font-weight: bold;
}

body {
 background-color: #B0C4DE;
}

tr {
  color: black;
  font-weight: bold;
  text-align: center;

}


